* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  font-family: var(--type-first);
  margin: 0px;
}

h1,
h2,
p {
  margin: 0px;
}
